@import url('variable.less');
.panel-blog{
 	.box-clear;
 	border:1px solid rgba(221, 221, 221, 0.26);
 	-webkit-box-shadow: 0px 0px 1px 0px rgba(232,232,232,1);
	-moz-box-shadow: 0px 0px 1px 0px rgba(232,232,232,1);
	box-shadow: 0px 0px 1px 0px rgba(232,232,232,1);
	display: block;

}
.panel-blog.hover{
	.transition(all,0.3s,ease);
	&:hover{
		-webkit-box-shadow: 0px 0px 20px 0px rgba(232,232,232,0.6);
		-moz-box-shadow: 0px 0px 20px 0px rgba(232,232,232,0.6);
		box-shadow: 0px 0px 20px 0px rgba(232,232,232,0.6);	
	}
}

.green {
  background-color:@green;
}

.blue {
  background-color:@blue;
}

.orange{
  background-color:@orange;
}
.red {
  background-color:@red;
}

a{
	color:@blue;
	.transition(all,0.3s,ease);
	&:hover{
		// opacity: 0.5;
	}
	&:active,&:visited{
		color:@green;
	}
}


.vuebar-element {
  height: 250px;
  width: 100%;
  max-width: 500px;
  background:@green;
}


.vb > .vb-dragger {
    z-index: 999;
    width: 12px;
    right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0,0,0,0);
    transform: rotate3d(0,0,0,0);
    -webkit-transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
    transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
    background-color: rgba(48, 121, 244,.1);
    margin: 5px 5px 5px 0;
    border-radius: 20px;
    height: calc(100% - 10px);
    display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    // background-color: rgba(48, 121, 244,.3);
    background-color: @green;
    opacity: 0.3;
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
    // background-color: rgba(48, 121, 244,.5);
    background-color: @green;
    opacity: 0.5;
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    // background-color: rgba(48, 121, 244,.5);
    background-color: @green;
    opacity: 0.5;
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    // background-color: rgba(48, 121, 244,.5);
    background-color: @green;
    opacity: 0.3;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}


.vue-tooltip.tooltip-material {
    .border-radius(6px);
    // padding: 0px 10px;
    font-size: 12px;
}

.vue-tooltip.tooltip-material .tooltip-arrow {
    .border-radius(6px);
    
}


.form-group{
    input {
		font-size: 18px;
		// padding: 10px 10px 10px 5px;
		display: block;
		width: 100%;
		border: none;
		background-color: @lightColor;
		color: @textPrimaryColor;
		border-bottom: 1px solid @primaryColor;
		&:focus {
            outline: 0;
        }
       
    }
        input.active~.bar:after,
        input.active~.bar:before,
        input:focus~.bar:after,
        input:focus~.bar:before {
        width: 50%
        }
       input.active~label,
      input:focus~label {
        top: -20px;
        font-size: 14px;
        color: @textPrimaryColor;
        transform: scale(0);
    }
	select {
		font-size: 18px;
		padding: 10px 10px 10px 5px;
		display: block;
		width: 100%;
		border: none;
		border-bottom: 1px solid @primaryColor;
	}
	label {
		color: @textPrimaryColor;
		font-size: 14px;
		font-weight: 400;
		position: absolute;
		pointer-events: none;
		right: 15px;
		top: 0;
		transition: .2s ease all;
		-moz-transition: .2s ease all;
		-webkit-transition: .2s ease all;
	}
	input.active&~label {
		top: -20px;
		font-size: 12px;
		color: @blue;
	}
	.bar {
		position: relative;
		display: block;
		width: 100%;
		&:after {
			content: '';
			height: 1px;
			width: 0;
			bottom: 1px;
			position: absolute;
			background: #28b78d;
			transition: .2s ease all;
			-moz-transition: .2s ease all;
			-webkit-transition: .2s ease all;
			right: 50%;
		}
		&:before {
			content: '';
			height: 1px;
			width: 0;
			bottom: 1px;
			position: absolute;
			background: #28b78d;
			transition: .2s ease all;
			-moz-transition: .2s ease all;
			-webkit-transition: .2s ease all;
			left: 50%;
		}
	}
}

body{
    background: #eeeff1;
}